body {
	background-image: url('banana-bg.png');
	margin-left: auto;
	margin-right: auto;
	}

.logo {
	float: left;
	padding: 10px;
	width: 7em;
	margin-top: 0.5em;
}

.slogan {
  	border: 3px solid black;
  	padding:10px;
  	float: right;
  	margin: 0.5em 0 30px 0;
  	border: 1px solid black;
  	border-radius: 1.5em;
}

.animation {
	clear: both;
	display: grid;
	grid-template: auto;
	border: 1px solid black;
	border-radius: 1.5em;
	background-color: #f2df07;
	padding: 10px;
}

.animation-text {
/*	background-color: yellow;*/
	text-align: center;
	padding: 50px 0;
	font-size: 30px;
}

.purpose-statement {
	margin: 30px auto 30px auto;
  	padding: 20px;
  	border: 1px solid black;
  	border-radius: 1.5em;
  	background-color: #f2df07;
  	width: 70%;
}

.main-content {
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 1.5em;
}

.grid-container {
		display: grid;
		grid-template: 125px / auto auto auto;
		grid-row-gap: 30px;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	.grid-container > div {
		padding: 20px;
		text-align: center;
	}

	.banana-type {
		border: 1px solid black;
		border-radius: 50%;
		position: relative;
		opacity: 20%;
		transition: .5s ease;
	}

	.banana:hover .banana-type {
		opacity: 100%;
	}


/*Mobiles, iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	body {

	}
}

/* Desktops, large screens */
@media only screen and (min-width: 1025px) {
	body {
		background-image: none;
	}
}

/* Extra large screens,  */
@media only screen and (min-width: 1201px) {
	body {

	}
}
